<aside class="customer-sidebar">
  <a href="/customer/profile">{{ 'customer.dashboard'|trans }}</a>
  <a href="/customer/orders">{{ 'customer.orders'|trans }}</a>
  <a href="/customer/wishlist">{{ 'customer.wishlist'|trans }}</a>
  <a href="/customer/notifications">{{ 'customer.notifications'|trans }}</a>
</aside>
