<div class="trust-badge-list">
  <span>{{ 'trust.secure_payment'|trans }}</span>
  <span>{{ 'trust.fast_shipping'|trans }}</span>
  <span>{{ 'trust.easy_returns'|trans }}</span>
  <span>{{ 'trust.customer_support'|trans }}</span>
</div>
