{% extends 'layouts/master.twig' %}

{% block page_title %}{{ 'brand.title'|trans }}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1>{{ 'brand.title'|trans }}</h1>
    <div class="brand-grid">
      {% for i in 1..8 %}
        {% include 'components/brand/brand-card.twig' with {
          brand: {
            name: 'brand.name'|trans ~ ' ' ~ i,
            description: 'brand.description'|trans,
            image: 'https://picsum.photos/360/220?random=' ~ (250 + i),
            url: '/brands/brand-' ~ i
          }
        } %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
