{% extends 'layouts/master.twig' %}

{% block page_title %}{{ 'brand.single_title'|trans }}{% endblock %}

{% block content %}
<section class="section brand-single">
  <div class="container">
    <h1>{{ 'brand.single_title'|trans }}</h1>
    <p>{{ 'brand.description'|trans }}</p>
    <div class="product-grid">
      {% for i in 1..6 %}
        {% include 'components/product/product-card.twig' with {
          product: {
            name: 'brand.product'|trans ~ ' ' ~ i,
            price: (159 + i * 13) ~ ' SAR',
            image: 'https://picsum.photos/460/520?random=' ~ (300 + i)
          }
        } %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
