{% extends 'layouts/master.twig' %}

{% block page_title %}{{ page.title|default('page.title'|trans) }}{% endblock %}

{% block content %}
<section class="section page-content">
  <div class="container">
    <h1>{{ page.title|default('page.title'|trans) }}</h1>
    <div class="wysiwyg">
      {{ page.content|default('<p>' ~ ('page.default_content'|trans) ~ '</p>')|raw }}
    </div>
  </div>
</section>
{% endblock %}
