<section class="section section--muted">
  <div class="container">
    {% include 'components/common/section-header.twig' with { title: 'home.brands'|trans, action_url: '/brands' } %}
    <div class="brands-grid">
      {% for i in 1..6 %}
        <a class="brand-chip" href="/brands">{{ 'brand.name'|trans }} {{ i }}</a>
      {% endfor %}
    </div>
  </div>
</section>
