<section class="cta-strip">
  <div class="container cta-strip__inner">
    <h3>{{ 'home.cta_title'|trans }}</h3>
    {% include 'components/common/button.twig' with { href: '/categories', label: 'common.start_shopping'|trans, variant: 'btn--accent' } %}
  </div>
</section>
