<section class="section">
  <div class="container">
    {% include 'components/common/section-header.twig' with { title: 'home.social_gallery'|trans } %}
    <div class="social-grid">
      {% for i in 1..6 %}
        <a href="{{ theme.settings.instagram_url|default('#') }}" aria-label="social image {{ i }}">
          <img src="{{ 'https://picsum.photos/320/320?random=' ~ (80 + i) }}" alt="Social {{ i }}" loading="lazy">
        </a>
      {% endfor %}
    </div>
  </div>
</section>
