<section class="section banners">
  <div class="container banners__grid">
    <a href="/offers" class="promo-banner promo-banner--dark">
      <p>{{ 'home.banner_small'|trans }}</p>
      <h3>{{ 'home.banner_small_title'|trans }}</h3>
    </a>
    <a href="/offers" class="promo-banner promo-banner--accent">
      <p>{{ 'home.banner_large'|trans }}</p>
      <h3>{{ 'home.banner_large_title'|trans }}</h3>
    </a>
  </div>
</section>
