<section class="cart-upsell">
  <h3>{{ 'cart.you_may_like'|trans }}</h3>
  <div class="product-grid product-grid--compact">
    {% for i in 1..2 %}
      {% include 'components/product/product-card.twig' with {
        product: {
          name: 'cart.recommended'|trans ~ ' ' ~ i,
          price: (89 + i * 30) ~ ' SAR',
          image: 'https://picsum.photos/460/520?random=' ~ (90 + i)
        }
      } %}
    {% endfor %}
  </div>
</section>
