<div id="search-modal" class="search-modal" aria-hidden="true">
  <div class="search-modal__content">
    <button type="button" class="search-modal__close" data-close-search>{{ 'common.close'|trans }}</button>
    <form action="/search" method="get" class="search-form">
      <input type="search" name="q" placeholder="{{ 'header.search_placeholder'|trans }}" aria-label="{{ 'header.search_placeholder'|trans }}">
      <button type="submit" class="btn btn--primary">{{ 'common.search'|trans }}</button>
    </form>
  </div>
</div>
