<div class="topbar">
  <div class="container topbar__inner">
    <p>{{ 'header.shipping_message'|trans }}</p>
    <div class="topbar__actions">
      <a href="/contact-us">{{ 'header.help'|trans }}</a>
      <a href="/track-order">{{ 'header.track_order'|trans }}</a>
    </div>
  </div>
</div>
