<section class="faq-list">
  <details open>
    <summary>{{ 'product.faq_q1'|trans }}</summary>
    <p>{{ 'product.faq_a1'|trans }}</p>
  </details>
  <details>
    <summary>{{ 'product.faq_q2'|trans }}</summary>
    <p>{{ 'product.faq_a2'|trans }}</p>
  </details>
</section>
