<div class="product-gallery">
  <img class="product-gallery__main" src="{{ product.image|default('https://picsum.photos/760/760?random=3') }}" alt="{{ product.name|default('Product') }}">
  <div class="product-gallery__thumbs">
    <img src="https://picsum.photos/120/120?random=31" alt="thumb 1" loading="lazy">
    <img src="https://picsum.photos/120/120?random=32" alt="thumb 2" loading="lazy">
    <img src="https://picsum.photos/120/120?random=33" alt="thumb 3" loading="lazy">
  </div>
</div>
