<div class="sticky-atc" data-sticky-atc>
  <div>
    <strong>{{ product.name|default('Premium Product') }}</strong>
    <p>{{ product.price|default('199 SAR') }}</p>
  </div>
  <button class="btn btn--primary">{{ 'product.add_to_cart'|trans }}</button>
</div>
